In [8]:
import pandas as pd 
import numpy as np
from scipy import stats

df=pd.read_csv('bi.csv',encoding='ISO-8859-1')
df.shape

(77, 11)

In [9]:
df.head()

,fNAME,lNAME,Age,gender,country,residence,entryEXAM,prevEducation,studyHOURS,Python,DB
0,Christina,Binger,44,Female,Norway,Private,72,Masters,158,59.0,55
1,Alex,Walekhwa,60,M,Kenya,Private,79,Diploma,150,60.0,75
2,Philip,Leo,25,Male,Uganda,Sognsvann,55,HighSchool,130,74.0,50
3,Shoni,Hlongwane,22,F,Rsa,Sognsvann,40,High School,120,NaN,44
4,Maria,Kedibone,23,Female,South Africa,Sognsvann,65,High School,122,91.0,80

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fNAME          77 non-null     object
 1   lNAME          77 non-null     object
 2   Age            77 non-null     int64
 3   gender         77 non-null     object
 4   country        77 non-null     object
 5   residence      77 non-null     object
 6   entryEXAM      77 non-null     int64
 7   prevEducation  77 non-null     object
 8   studyHOURS     77 non-null     int64
 9   Python         75 non-null     float64
 10  DB             77 non-null     int64
dtypes: float64(1), int64(4), object(6)
memory usage: 6.7+ KB

In [11]:
df=df.dropna()

In [12]:
Q1=np.percentile(df[['Age','entryEXAM','studyHOURS','Python','DB']],25)
Q3=np.percentile(df[['Age','entryEXAM','studyHOURS','Python','DB']],75)
IQR=Q3-Q1
lower_bound=Q1-1.5*IQR
upper_bound=Q3+1.5*IQR
outliers=[(df[['Age','entryEXAM','studyHOURS','Python','DB']] < lower_bound) | (df[['Age','entryEXAM','studyHOURS','Python','DB']] > upper_bound)]
print(outliers)

[      Age  entryEXAM  studyHOURS  Python     DB
0   False      False        True   False  False
1   False      False       False   False  False
2   False      False       False   False  False
4   False      False       False   False  False
5   False      False       False   False  False
..    ...        ...         ...     ...    ...
72  False      False       False   False  False
73  False      False        True   False  False
74  False      False        True   False  False
75  False      False        True   False  False
76  False      False       False   False  False

[75 rows x 5 columns]]